body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1.5fr auto;
    gap: 3px;
    width: 17%;
    height: 40%;
    border: 1px solid black;
    padding: 3px;
    box-sizing: border-box;
}

.container > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Time new roman,;
    font-size: 1.2em;
}

.header {
    grid-column: span 2;
}

.nav {
    grid-column: span 2;
}

.section {
    grid-row: span 3;
}

.article {
    grid-row: span 3;
}
.aside {
    grid-row: span 6;
}
.footer {
    grid-column: span 2;
}