* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    padding: 10px;
    max-width: 1200;
    margin: 0 auto;
}

.container {
    padding: 10px;
    text-align: center;
    display: grid;
    gap: 10px;
    width: 400px;
    height: 500px;
}

.container > div {
    background-color: #dddddd;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column: span 10;
    grid-row: span 2;
}

.nav {
    grid-column: span 10;
}

.main {
    grid-column: span 5;
    grid-row: span 6;
}

.aside {
    grid-column: span 5;
    grid-row: span 3;
}

.section {
    grid-column: span 5;
    grid-row: span 3;
}

.aside2 {
    grid-column: span 10;
}

.footer {
    grid-column: span 10;
    grid-row: span 2;
}