body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        header, footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 2rem;
        }
        nav {
            background-color: #666;
            color: #ccc;
            text-align: center;
            padding: 0.5rem;
        }
        .content {
            display: flex;
            flex: 1;
            gap: 10px;            
            margin-right: 90px;
            margin-left: 90px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        main {
            background-color:#c6c6d4;
            flex: 1;
            padding: 1rem;
            width: 30px;
            text-align: center;
        }
        aside {
            background-color: #b0b0b0;
            width: 190px;
            padding: 1rem;
            text-align: center;
        }