body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.page-title {
    background-color: #2d3748;
    color: #ffffff;
    padding: 1rem;
    margin-right: 700px;
}

.navigation {
    background-color: #4a5568;
    color: #ffffff;
    padding: 0.5rem;
    max-width: 1100px;
}

.introduction {
    background-color: #4a5568;
    color: #ffffff;
    padding: 1rem
    margin-top: 1rem;
    margin-right: 20px;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    margin-right: 20px;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        gap: 1rem;
    }
}

.main-content {
    background-color: #1a202c;
    color: #ffffff;
    padding: 4rem;
    flex: 1;
}

.sidebar {
    background-color: #718096;
    color: #ffffff;
    padding: 4rem;
    width: 33.333333%;
}

.footer {
    background-color: #4a5568;
    color: #ffffff;
    padding: 3rem;
    margin-top: 2rem;
    margin-right: 20px;
    margin-left: 20px;
}