body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    width: 30%;
    height: 50%;
    border: 1px solid black;
}

.container > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Times new roman, sans-serif;
    color: black;
    font-size: 1em;
}

.header {
    grid-column: span 6;
}

.nav {
    grid-column: span 6;
}

.Index {
    grid-row: span 4;
}
.Content {
    grid-column: span 5;
    grid-row: span 4;
}
.footer {
    grid-column: span 6;
}